aws_region  = "us-east-1"
environment = "prod"
owner       = "ems-prod-oncall"

# Adjust only if you need something different from defaults in variables.tf
# vpc_cidr           = "10.20.0.0/16"
# availability_zones = ["us-east-1a", "us-east-1b"]
# rds_instance_class = "db.t4g.small"
# redis_node_type    = "cache.t4g.micro"
# msk_instance_type  = "kafka.t3.small"
